* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e6e6e6; }

h1 {
  text-align: center;
  font-style: italic;
  font-family: cursive;
  color: #6b6b6b;
  margin-top: 20px; }

.full-container {
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.todo-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 2px solid black;
  background-image: url("../pictures/bg-container.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.add-new-input {
  justify-content: space-between;
  display: flex;
  background-color: #c7c7c7; }
  .add-new-input button {
    cursor: pointer;
    margin: 0; }

.todo-list {
  list-style: none; }

.todo-list-item {
  background-color: #d6d6d6;
  display: flex;
  height: auto;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center; }
  .todo-list-item input {
    cursor: pointer; }

.todo-result {
  word-wrap: break-word; }
  .todo-result::first-letter {
    text-transform: uppercase; }

.remove {
  border: #5f5d5d 1px solid;
  border-radius: 25px;
  cursor: pointer; }

.complete {
  background-color: #9fd19f;
  border: 2px green solid;
  color: rgba(0, 0, 0, 0.329); }

@media screen and (min-width: 769px) {
  h1 {
    font-size: 40px; }
  .todo-container {
    padding: 40px;
    margin-top: 150px;
    margin-bottom: 150px; }
  .add-new-input {
    width: 670px;
    margin-bottom: 20px;
    padding: 10px; }
    .add-new-input input {
      width: 600px;
      margin-right: 10px;
      height: 30px; }
    .add-new-input button {
      width: 50px; }
  .counter {
    margin-bottom: 30px; }
  .todo-list-item {
    margin-bottom: 10px;
    width: 670px;
    padding: 5px 0; }
    .todo-list-item input {
      margin: 0 20px;
      width: 20px;
      height: 20px; }
  .todo-result {
    font-size: 20px;
    width: 500px; }
  .remove {
    margin: 0 20px;
    width: 20px;
    height: 20px; }
    .remove:hover {
      background-color: #fd8585;
      border: red 1px solid;
      color: red;
      font-weight: bold; } }

@media screen and (min-width: 100px) and (max-width: 768px) {
  h1 {
    font-size: 6vw; }
  .todo-container {
    padding: 20px;
    margin-top: 75px;
    margin-bottom: 75px; }
  .add-new-input {
    width: 400px;
    margin-bottom: 15px;
    padding: 5px; }
    .add-new-input input {
      width: 360px;
      margin-right: 10px;
      height: 30px;
      font-size: 12px; }
    .add-new-input button {
      width: 40px;
      font-size: 12px; }
  .counter {
    margin-bottom: 15px;
    font-size: 12px; }
  .todo-list-item {
    margin-bottom: 5px;
    width: 400px;
    padding: 5px 0; }
    .todo-list-item input {
      margin: 0 5px; }
  .todo-result {
    font-size: 12px;
    width: 345px; }
  .remove {
    margin: 0 5px 0 7px;
    width: 11px;
    height: 11px;
    font-size: 0px;
    background-color: #fd9898; } }
