* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e6e6e6; }

h1 {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  font-family: cursive;
  color: #6b6b6b;
  font-size: 40px; }

.full-container {
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.todo-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 2px solid black;
  padding: 40px;
  margin-top: 150px;
  margin-bottom: 150px;
  background-image: url("../pictures/bg-container.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.add-new-input {
  justify-content: space-between;
  width: 670px;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #c7c7c7; }
  .add-new-input input {
    width: 600px;
    margin-right: 10px;
    height: 30px; }
  .add-new-input button {
    cursor: pointer;
    width: 50px;
    margin: 0; }

.counter {
  margin-bottom: 30px; }

.todo-list {
  list-style: none; }

.todo-list-item {
  margin-bottom: 10px;
  background-color: #d6d6d6;
  display: flex;
  width: 670px;
  height: auto;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0; }

.todo-result {
  font-size: 20px;
  text-transform: capitalize;
  word-wrap: break-word;
  width: 500px; }

.status {
  cursor: pointer;
  margin: 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 25px; }

.remove {
  margin: 0 20px;
  width: 20px;
  height: 20px;
  border: #5f5d5d 1px solid;
  border-radius: 25px;
  cursor: pointer; }
  .remove:hover {
    background-color: #fd8585;
    border: red 1px solid;
    color: red;
    font-weight: bold; }

.complete {
  background-color: #9fd19f;
  border: 2px green solid;
  color: rgba(0, 0, 0, 0.329); }
